* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f3f8;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.app__left {
  flex: 0.9;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

@media(max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__left {
    flex: 1;
  }

  .app__right {
    margin-top: 20px;
  }
}

.table {
  height: 50vh;
  overflow-y: auto;
  margin-top: 20px;
}

.table div:nth-child(2n+1) {
  background-color: #f2f3f8;
}

.table div {
  display: flex;
  justify-content: space-between;
}

.table div span {
  padding: 0.5rem;
}